
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

:root {
    --red: #df4554;
    --black: #060508;
    --grey: #777777;
    --grey-hover: var(--red);
    color: #df4554 ;
    /* atras do background? */
    color: #1b191f; 
    color: #060508;
}


/* ------------- SCROLL BAR ------------- */
/* width */
::-webkit-scrollbar {
    width: 0.7rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #d5d5d5; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 1rem;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {

    background: var(--red);

  }


.container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "n m";
    
    margin: 2rem;
    /* border: solid red 1rem; */
    
    
}

body {
    background-color: rgb(247, 247, 247);

    font-family: 'Raleway', sans-serif;
    color: #212529;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;

    max-width: 1300px;

}


main {
    background: white;
    padding: 2rem;
    grid-area: m;
    border: solid 0.1rem rgb(222, 222, 222);
    text-align: center;

}


h1 {
    font-family: "Poppins";
    /* font-weight: 700; */
    font-size: 2rem;
    margin: 1rem 0 3rem;

    text-align: left;

    padding-bottom: 0.5rem;
    border-bottom: solid 0.1rem rgb(222, 222, 222);

}

.form {
    
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2rem;
}

input, button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}


.campo {
    margin: 0;

    /* margin-inline: 5%; */

    width: 15rem;
    height: 30px;

    padding-left: 0.3rem;
    

    border-bottom: 1px solid rgba(0, 0, 0, 0.409);
    border-top: none;
    border-right: none;
    border-left: none;
}

.mostrarSenha {
    /* width: 1rem;
    height: 1rem; */
    margin: 1rem 0 0;
    text-align: left;

} 


.mostrarSenha > * {
    display: inline-block;
    font-size: 1rem;
}

.mostrarSenha > input {
    width: 1rem;
    height: 1rem;

    margin:0 0.8rem 0 0;
}

button  {
    color: white;
    font-weight: 700;
    background-color: #060508;


    border: none;
    border-radius: 7px;
    height: 50px;
    width: 30vw;
    margin: 4rem;

    cursor: pointer;

}

button:hover {
    background: var(--red);
    transition: 0.2s;
}

/* NAV BAR ---------------------------------- */


nav {
  /* width: 90px; Set a specific width */
  background-color: var(--grey); /* Dark-grey background */
  grid-area: n;
  height: fit-content;
}

.icon-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
}
    
i {
  margin: 0 0.5rem 0 0;
  font-size: 4rem;
}

.icon-bar a:hover {
  background-color: var(--grey-hover); /* Add a hover color */
}
  
.active {
  background-color: var(--grey-hover); /* Add an active/current color */
}

/* CSS USADO APENAS NO "meus-pedidos.html" */

table {
  width: 100%;
  font-size: 1rem;
}


th {
  background: var(--red);
  width: 20%;
  
  color: white;
  font-weight: 700;
  
  border: white solid 0.2rem;
  border-collapse: collapse;
  
  padding: 0.4rem;
}

th:first-child {
  border-radius: 10rem 0 0 10rem;
  
}

th:last-child {
  border-radius: 0 10rem 10rem 0;
}

td {
  padding: 0.5rem;
  font-family: 'Raleway', sans-serif;
  border-spacing: 3rem 0  ;
  align-items: center;
}

td > div {
  background-color: var(--black);
  width: 7rem;
  padding: 0.3rem;
  border-radius: 10rem;

  color: white;
  font-weight: 700;
} 
