
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

:root {
    --red: #d51217;
    --hover-red:#bf1015;
}


/* ------------- SCROLL BAR ------------- */
/* width */
::-webkit-scrollbar {
    width: 0.7rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #d5d5d5; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 1rem;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    transition: 3s;

    background: var(--red);

  }


.container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 20rem 20rem 20rem;
    grid-template-areas: "n m"
                         "n m"
                         ". m";
    
    margin: 2rem;
    /* border: solid red 1rem; */
    
    
}

body {
    background-color: rgb(247, 247, 247);
}


main {
    background: white;
    padding: 2rem;
    /* height: 100px; */
    /* font-size: 50px; */

    grid-area: m;
    /* grid-column-start: 1;
    grid-column-end: 2; */

    border: solid 0.1rem rgb(222, 222, 222);
}


h1 {
    font-size: 1.8rem;
    margin: 1rem 1rem 3rem;
}

.form {
    
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2rem;
}

.campo {
    margin: 0;

    /* margin-inline: 5%; */

    width: 15rem;
    height: 30px;

    padding-left: 0.3rem;
    

    border-bottom: 1px solid rgba(0, 0, 0, 0.409);
    border-top: none;
    border-right: none;
    border-left: none;
}

.mostrarSenha {
    /* width: 1rem;
    height: 1rem; */

    margin: 1rem 2rem 4rem;
} 


.mostrarSenha > * {
    display: inline-block;
}

nav {
    background: green;
    /* height: 100px; */
    /* font-size: 50px; */
    
    grid-area: n;
    /* grid-column-start: 2;
    grid-column-end: 3; */


}
